.side

  .side-header
    .side-header__box
      .side-header__box__user-name
        name
      .side-header__box__menu
        =link_to "#", class: "side-header__box__menu__new-group" do
          %i.fa.fa-edit
        =link_to "#", class: "side-header__box__menu__edit-user" do
          %i.fa.fa-cog

  .side__groups
    .group
      .group__name
        techexpert68
      .group__last-message
        まだメッセージがありません