// カラーコードの定義
$whitish_gray: #eee;
$grayish_white: #fafafa;
$pale_gray: #d2d2d2;

$dark_gray: #999;
$blackish_gray: #333;

$nemophila: #38aef0;
$blue_purple: #2f3e51;
$dark_bluepurple: #253141;
$blackish_bluepurple: #434A54;

