$white: #fff;
$whitish_gray: #eee;
$grayish_white: #fafafa;
$pale_gray: #ddd;
$pale_gray2: #d2d2d2;

$light_gray: #999;
$blackish_gray: #333;

$light_blue: #38AEF0;
$side_blue_light: #2f3e51;
$side_blue_dark: #253141;
$black: #434a54;

$dull_red: #d65f4c;
$alert_orange: #F35500;